
.pokemon-switch-container{
width: 175px;
    display: flex;
    align-items: center;
    height: 60px;
    background-image: linear-gradient(45deg, rgb(87,137,184),lightblue,rgb(87,137,184));
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* padding: 5px 5px 5px 5px; */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid black;
    cursor:pointer;
}

.pokemon-switch-container.pokemon-switch-fainted{
    cursor:initial;
}

.pokemon-switch-container:not(.pokemon-switch-fainted):hover{
    color:yellow;
    border-color:yellow;
}


.pokemon-switch-pokeball{
width: 20px;
    display: inline-block;
    filter: grayscale(0.5);
}

.pokemon-switch-healthbar-text{
    text-align:right;
}

.pokemon-switch-container-right{
    margin-left:15px;
}

.pokemon-switch-icon > img{
    width:36px;
}