.healthbar{
    height:100%;
    display: inline-block;
    box-sizing:border-box;
    border: 1px solid black;
    background-color:grey;
}

.healthbar-hp-prepend{
    color:orange;
    font-size:0.8em;
    font-weight:bold;
    padding-left:2px;
    margin:0 auto;
}

.healthbar-container{
    display: grid;
    grid-template-columns:15% 85%;
    background-color: black;
}