

.battle-terrain{
    background-image: url(/images/backgrounds/battle-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:240px;
    overflow:hidden;
    position:relative;
}

.bottom-screen{
    background-image: linear-gradient(45deg, white, lightgrey);
}

.pokemon-party-pokeballs{
    padding-top:10px;
    display:flex;
    padding-bottom:10px;
    padding-left:10px;
}

.enemy-party-pokeballs{
    position:absolute;
    display:flex;
    left:220px;
}