.player-profile-online{
    background-color: green;
    color:white;
}
.player-profile-in-game{
    background-color:darkorange;
    color:white;
}
.player-profile-container{
    width:200px;
    margin: 0 auto;
}