
.pokemon-mini-info-container{
width: 175px;
display: grid;
grid-template-columns: 25% 75%;
    background-image: linear-gradient(45deg, rgb(87,137,184),lightblue,rgb(87,137,184));
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    /* padding: 5px 5px 5px 5px; */
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    border: 1px solid black;
    cursor:pointer;
}

.pokemon-mini-info-container.pokemon-mini-info-fainted{
    cursor:initial;
}

.pokemon-mini-info-container:not(.pokemon-mini-info-fainted):hover{
    color:yellow;
    border-color:yellow;
}


.pokemon-mini-info-pokeball{
width: 20px;
    display: inline-block;
    filter: grayscale(0.5);
}

.pokemon-mini-info-healthbar-text{
    text-align:right;
}

.pokemon-mini-info-container-right{
    margin-left:15px;
}

.pokemon-mini-info-icon > img{
    width:100%;
    max-width:40px;
}

.pokemon-mini-info-icon{
    grid-row:auto/span 2;
}