@import '~antd/dist/antd.css';

@font-face {
  font-family: 'PokemonFont';
  src: url('/fonts/DiamondPearl/PowerClear.woff2') format('woff2'),
      url('/fonts/DiamondPearl/PowerClear.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-outline{
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body{
  line-height:revert!important;
  /*font-family:"PokemonFont" don't want tou use this anymore, i think it actually looks better with the default font*/
}

.app-window{
  text-align: center;
  max-width:800px;
  margin:0 auto;
  border:1px solid black;
  /*font-family:"PokemonFont";*/
}

.interactable{
  cursor:pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; 
}

.col-2{
  display:grid;
  grid-template-columns: 30% 30%;
  margin: 0 auto;
}

.tab-selected{
  color:blue;
  font-size:1.2em;
}


.clickable{
  cursor:pointer;
}



