.status-poison{
    background-color: #A040A0;
    border-top-color: #D880B8;
    border-bottom-color: #483850;
    color:white;
}
.status-burned{
    background-color: #F08030;
    border-top-color: #F8D030;
    border-bottom-color: #C03028;
    color:white;
}
.status-frozen{
    background-color: #98D8D8;
    border-top-color: #D0F8E8;
    border-bottom-color: #9090A0;
    color:black;
}
.status-sleep{
    background-color:white;
    border-top-color:black;
    border-bottom-color:black;
    color:black;
    border-color:1px solid black;
}
.status-paralyze{
    background-color: #F8D030;
    border-top-color: #F8F878;
    border-bottom-color: #B8A038;
    color:black;
}

.status-icon{
    display: inline-block;
    width: 40px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: normal;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
}
