.item-menu{
    border:1px solid black;    
    border-collapse:collapse;
    width:100%;
    display:flex;
}

.item-menu-left{
    width:40%;
}

.item-menu-items{
    margin-top:10px;
}

.item-menu-items .item-container{
    margin-bottom:3px;
}